.form-login{
  width: 50%;
}

.col-login {
  padding: 20px 0px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.btn-login{
  width: 100%;
}

.ant-form-item-control-input-content{
  width: 800px;
  min-width: 150px;
  clear: both;
}
.ant-form-item-required{
  clear: both;
}

.layout{
  width: 50%;
  position: absolute;
  left: 25%;
  top: 18%;

  transform: translate(-25%, -18%, 0);
  border-radius: 15px;
  background: #ffffff;
  box-shadow:  20px 20px 60px #d9d9d9, 
              -20px -20px 60px #ffffff;
}

.header-login{
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.footer-login{
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  text-align: center;
}

.error-login{
  padding: 10px;
}